<div class="title">
  <h1>{{b}}</h1>
</div>
<div class="bilder">
  <div class="dronebilder">
   <h3>{{h3tekst}}</h3>
   <a *ngFor="let b of bsrc" class="bilde_ramex350" href="{{b.src}}">
    <img class="bildex350" src="{{b.src}}" alt="">
  </a>
  </div>
</div>
<div *ngFor="let entry of entries">
  <div>{{entry.description}}</div>
  <div><input type="radio" name="radiogroup"  (change)="bid2(entry)"></div>
</div>
<input (click)="bid()" id="1" type="radio" name="byt" [(ngModel)]="input1">
<a (click)="akra()">Klikk meg</a>