* {
    box-sizing: border-box;
}
div.bunn {
    bottom: 100%;
    margin-top: 10px;
    background-color: #8F00B3;
    max-width: 100%;
    color:#fff;
    text-align: center;
}
.meny {
    overflow: hidden;
    background-color: rgba(89, 187, 32, 0.74);
}
.menyi {
    
}
.menyi a {
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: inherit;
    padding: 14px 16px
}
.meny a:hover {
    background-color: #C9BABA;
}
